html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

h1 {
    color: forestgreen
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
    font-size: 10px;
}

.yes {
    background-color: mediumseagreen;
    color: white;
}

.no {
    background-color: indianred;
    color: white;
}

th {
    background-color: slategrey;
    color: white;
}