<form method="post" action="/Users/PostUser">
    <b>Name:</b><br />
    <input type="text" name="name" /><br /><br />

    <b>Bootcamp:</b><br />
    <input type="radio" name="bootcamp" value="1" /> C# .NET<br />
    <input type="radio" name="bootcamp" value="2" /> Java<br />
    <input type="radio" name="bootcamp" value="3" /> JavaScript<br />
    <input type="radio" name="bootcamp" value="4" /> Data Engineering<br /><br />

    <b>Graduated:</b><br />
    <input type="radio" name="graduationFlag" value="1" /> Yes<br />
    <input type="radio" name="graduationFlag" value="0" /> No<br /><br />

    <b>Graduation Year:</b><br />
    <input type="number" name="graduationYear" /><br /><br />
    
    <b>City:</b><br />
    <input type="text" name="city" /><br /><br />
    
    <b>State:</b><br />
    <input type="text" name="state" /><br /><br />
    
    <b>Employment Status:</b><br />
    <input type="radio" name="employmentStatus" value="1" /> Not Employed<br />
    <input type="radio" name="employmentStatus" value="2" /> Employed Elsewhere<br />
    <input type="radio" name="employmentStatus" value="4" /> Employed at UWM<br />
    <input type="radio" name="employmentStatus" value="3" /> Unknown<br /><br />
    
    <b>Employer:</b><br />
    <input type="text" name="employer" /><br /><br />
    
    <b>Interested in UWM:</b><br />
    <input type="radio" name="interestFlag" value="1" /> Yes<br />
    <input type="radio" name="interestFlag" value="0" /> No<br /><br />
    
    <b>Application Status:</b><br />
    <input type="radio" name="applicationStatus" value="1" /> Not Applied <br />
    <input type="radio" name="applicationStatus" value="2" /> Waiting to Apply <br />
    <input type="radio" name="applicationStatus" value="3" /> Applied <br />
    <input type="radio" name="applicationStatus" value="4" /> Hired <br />
    <input type="radio" name="applicationStatus" value="5" /> Rejected <br /><br />
    
    <b>Note:</b><br />
    <input type="text" name="note" /><br /><br />
    <input type="submit" value="Add User" />
</form>
