<form method="post" action="/Users/PostUser">
    Name: <br />
    <input type="text" name="name" /><br /><br />

    Bootcamp: <br />
    <input type="number" name="bootcamp" /><br /><br />

    Graduation Flag: <br />
    <input type="number" name="graduationFlag" /><br><br />

    Graduation Year: <br />
    <input type="number" name="graduationYear" /><br /><br />
    
    City: <br />
    <input type="text" name="city" /><br /><br />
    
    State: <br />
    <input type="text" name="state" /><br /><br />
    
    Employment Status: <br />
    <input type="number" name="employmentStatus" /><br /><br />
    
    Employer: <br />
    <input type="text" name="employer" /><br /><br />
    
    Interest Flag: <br />
    <input type="number" name="interestFlag" /><br /><br />
    
    Application Status: <br />
    <input type="number" name="applicationStatus" /><br /><br />
    
    Note: <br />
    <input type="text" name="note" /><br /><br />
    <input type="submit" value="Add User" />
</form>
